*{
	margin: 0;
	padding: 0;
}

.header{
	background-color: teal;
	min-height: 100px;
	overflow: hidden;
	margin-bottom: 20px;
}

.header ul li{
	float: left;
	list-style-type: none;
	margin: 25px 25px;
}

.header ul li a{
	color: white;
	font-size: 2rem;
	font-weight: bold;
	text-decoration: none;
}

.header ul li a:hover{
	color: tomato;
	text-decoration: underline;
}

form{
	background-color: #E5E4E2;
	width: 600px;
	margin: 0px auto;
}

form fieldset{
	border: none;

}

form fieldset legend{
	background-color: teal;
	color: white;
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 20px;
	text-align: center;
}


label{
	font-size: 1.5rem;
	padding: 10px;
}

label:hover{
	color: tomato;
}

.first_name, .last_name, .email, .password{
	font-size: 1rem;
	letter-spacing: 1px;
	margin: 10px;
	padding: 5px;
	width: 94%;
}

button{
	background-color: teal;
	border: none;
	border-radius: 5px;
	color: white;
	font-size: 1rem;
	font-weight: bold;
	margin: 15px 10px;
	padding: 10px;

}

button:hover{
	background-color: tomato;
}