*{
	margin: 0;
	padding: 0;
}

.header{
	background-color: teal;
	min-height: 100px;
	overflow: hidden;
}

.header ul li{
	float: left;
	list-style-type: none;
	margin: 25px 25px;
}

.header ul li a{
	color: white;
	font-size: 2rem;
	font-weight: bold;
	text-decoration: none;
}

.header ul li a:hover{
	color: tomato;
	text-decoration: underline;
}

.body1{
	overflow: hidden;
}

.blog{
	width: 50%;
	background-color: #BCC6CC;
	box-sizing: border-box;
	float: left;
	padding: 5px;
	min-height: 500px;
}

.contact{
	width: 50%;
	background-color: #B6B6B4;
	box-sizing: border-box;
	float: left;
	padding: 5px;
	min-height: 500px;
}

.body2{
	overflow: hidden;
}

.same{
	box-sizing: border-box;
	float: left;
	padding: 5px;
	min-height: 200px;
}

h1{
	margin: 20px;
	text-align: center;
}

p{
	margin: 20px;
	text-align: justify;
}

.section1{
	width: 33.33%;
	background-color: #C8A2C8;
}

.section2{
	width: 33.33%;
	background-color: lightgreen;
}

.section3{
	width: 33.33%;
	background-color: lightblue;
}

.footer{
	background-color: #9E7BFF;
	box-sizing: border-box;
	color: white;
	font-size: 2rem;
	font-weight: bolder;
	padding: 25px;
	min-height: 100px;
	text-align: center;
}
