*{
	margin: 0;
	padding: 0;
}

.header{
	background-color: teal;
	min-height: 100px;
	overflow: hidden;
	margin-bottom: 20px;
}

.header ul li{
	float: left;
	list-style-type: none;
	margin: 25px 25px;
}

.header ul li a{
	color: white;
	font-size: 2rem;
	font-weight: bold;
	text-decoration: none;
}

.header ul li a:hover{
	color: tomato;
	text-decoration: underline;
}

table{
	border: 1px solid black;
	border-collapse: collapse;
	margin: 0px auto;
	min-width: 60%;
}

table > caption{
	background-color: teal;
	color: white;
	font-size: 2.3rem;
	font-weight: bolder;
	padding: 10px;
	margin-bottom: 5px;
}

th,td{
	border: 1px solid black;
	font-size: 1.5rem;
	text-align: center;
	padding: 10px;
}

td{
	padding: 15px;
}

tr:nth-child(odd){
	background-color: lightgreen;
}

tr:nth-child(odd):hover{
	background-color: tomato;
}
